body{
    position: absolute;
    top: 40%;
    left: 33%;
    background-color: #000000;
}
.progress{
    position: relative;
    height: 210px;
    width: 1110%;
    border: 30px solid #ffffff;
    border-radius: 15px;
}
.progress .color{
    position: absolute;
    background-color: #ffffff;
    width: 0px;
    height: 210px;
    animation: progres 60s infinite linear;    
}
@keyframes progres{
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 75%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: 100%;
    }
}